<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FORMA.Properties.Settings.sydowhConnectionString"
            connectionString="server=mysql.francois-garcia.ws;user id=gillesferrand;password=5du8z9pA;persistsecurityinfo=True;database=sydowh"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>